.arrayContainer {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 65vh;
    transform: rotate(180deg) scale(-1, 1);

    &__bar {
    width: 10px;
    background-color: #7198EC;
    display: inline-block;
    margin: 0 1px;
    }
}

.sortingButtons {
   display: flex;
   justify-content: space-evenly;
   margin: auto;
   margin-top: 15px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

.Title {
    text-align: center;
}
